* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-image: url(../images/v1012-bg-03b.jpg);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: white;
}

/* Logo Styling */

#logo-container {
    display: flex;
    justify-content: center;
}

#logo {
    height: 10em;
}

/* Console Styling */

#container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.console-container {
    display: flex;
    justify-content: center;
}

.console {
    height: 95%;
    width: 80%;
    margin: auto 0;
    border-radius: 30px;
    margin-bottom: 2em;

    background-color: #e57027;
}

.text-content {
    text-align: center;
    padding: 1.5em;
    font-size: 2em;
}

h1 {
    font-size: 1.5em;
}

p {
    margin-top: 1em;
}

/* Game Styling */

#game-body {
    height: auto;
    width: 60%;
    min-width: 400px;
    margin: auto 0;
    margin-bottom: 2em;
    border-radius: 30px;
    background-color: rgb(247, 220, 196, .95);
}

.question-console {
    background: #9ac1e1;
    display: flex;
    justify-content: center;
}

#question-tally {
    margin: 0;
    font-size: .5em;
}


/* Button Styling */

.btn {
    color: #9ac1e1;
    font-size: .8em;
    background: white;
    border: none;
    border-radius: 35px;
    height: 2.5em;
    width: 6em;
    margin-top: 2em;
}

.answer-btn {
    color: #9ac1e1;
    font-size: .8em;
    background: white;
    border: none;
    border-radius: 35px;
    height: 3em;
    width: auto;
    margin-top: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: .5em;
    color: #984737;
}

.btn:hover {
    color: #984737;
}

a {
    font-size: .5em;
    text-align: center;
}

.correct {
    background-color: #6d935c;
    color: white;
}

.wrong {
    background-color: #b72f15;
    color: white;
}

/* Homescreen Button */

.home-screen {
    display: flex;
    margin: auto;
    padding: 1em;
    background: none;
    color: white;
}

.hide {
    display: none;
}

